

services:
  # Symfony App
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    ports:
      - "8000:80"
    depends_on:
      - db

  
  db:
    image: mysql:8.0
    container_name: symfony_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hotelDiongcoDB
      MYSQL_USER: hoteluser
      MYSQL_PASSWORD: hotelpass
    ports:
      - "13306:3306"
    volumes:
      - db_data:/var/lib/mysql

  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: symfony_phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: hoteluser
      PMA_PASSWORD: hotelpass
    ports:
      - "8080:80"
  
    depends_on:
      - db

volumes:
  db_data:
