@import "tailwindcss";
@source "../../templates/**/*.{twig,html}";
@source "../../src/**/*.php";
@source not "../../public";


body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
  color: rgb(6, 32, 104) !important;
}

.container {
  max-width: 1100px;
}

.helvetica-condensed {
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-stretch: condensed; 
  font-weight: 400; 
  letter-spacing: 0.03em;
}

.helvetica-57 {
  font-family: "Helvetica Neue LT Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-stretch: condensed; 
  font-weight: 57; 
  letter-spacing: 0.03em;
}

.testcolor{
 color: rgb(67, 85, 145);
}

.form-error-message, .invalid-feedback {
  color: red;
  display: block;
  font-size: 0.875em; /* Smaller text */
  margin-top: 0.25em; /* Some space above */
}
